<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Dictionary</span>
</mat-toolbar-row>
</mat-toolbar>

<form fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" (ngSubmit)="getSynonyms()" [formGroup]="searchForm">
    <mat-form-field fxFlex="70">
      <input matInput placeholder="Enter keyword" formControlName="searchText" required>
    </mat-form-field>
    <button mat-raised-button fxFlex="15" color="primary" type="submit">
      Get Synoynms
    </button>
    <button mat-raised-button fxFlex="15" color="primary" type="button" (click)="addToBookmarks()">
        Add to BookMarks
      </button>
</form>

<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
  
  <app-synoynms fxFlex="70" [synoymnsChild]="synonyms"></app-synoynms>
  <app-bookmarks fxFlex="30" (showSynoynmsEvent)="openDialog($event)" ></app-bookmarks>

</div>